@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #666666;
 
}
::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 25px;

}
:root {
  --bg: black;
  --text-Color: white;
  --softTextColor: hsl(0, 1%, 43%);
}

a {
  color: inherit;
  text-decoration: none;
}
.container_main {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.dark_mode {
  background-color: var(--bg);
  color: var(--text-Color);
}
.ligh_mode {
  background-color: white;
  color: black;
}
/* Add these styles for the slide-in animation */
.mobile-menu {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.mobile-menu.open {
  transform: translateX(0);
}
